@model TiDev.Entity.Agenda.EntReferencia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DeleteR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header">

            <!-- Logo -->
            <h1><a href="/Home/Login">Agenda En Linea</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/Home/Login">Login</a></li>
                    <li>
                        <a href="#">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                            <li>
                                <a href="#">Phasellus consequat</a>
                                <ul>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam dolore nisl</a></li>
                                    <li><a href="#">Veroeros feugiat</a></li>
                                    <li><a href="#">Nisl sed aliquam</a></li>
                                    <li><a href="#">Dolore adipiscing</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li class="current"><a href="/Home/Cerrar">Salir</a></li>
                </ul>
            </nav>

            <!-- Banner -->
            <section id="banner">
                <header>
                    <h2> Eliminar Contacto </h2>
                    <p>
                        &nbsp;
                        @if (TempData["error"] != null)
                        {
                            <h2 class="alert-danger"> @TempData["error"]</h2>
                        }
                    </p>
                    <form>
                        <table>
                            <tr>
                                <th>
                                    <center> Tipo de Dato </center>
                                </th>
                                <th>
                                    @Model.Tipo.Nombre
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <center>  Dato : </center>
                                </th>
                                <th> @Html.DisplayFor(model => model.Dato) </ th >
                            </tr>

                            <tr class="alert-success">
                                <th>
                                    <center>
                                        <input type="submit" name="name" class="button alt large" value="Contactos" formaction="/Home/Datos" formmethod="get" />
                                    </center>
                                </th>
                                <th>
                                    <center>
                                        <input type="submit" name="name" class="btn btn-outline-success" value="Borrar" formmethod="post" />
                                    </center>
                                </th>
                            </tr>
                        </table>
                    </form>
                </header>
                <section>
                    <h2>Contactanos</h2>
                    <ul class="social">
                        <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                        <li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
                        <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
            </section>
        </section>
    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
